<div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-lg-offset-3  col-md-8 col-lg-6">
        <%= form_for(task) do |f| %>
            <% if task.errors.any? %>
                <div class="alert alert-warning">
                    <ul>
                        <%= task.errors.full_messages.each do |task| %>
                            <li><%= task %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %> 
            <div class="form-group">
                <%= f.label :content, "タスク" %>
                <%= f.text_field :content, class: "form-control" %>
            </div>
            <div class="form-group">
                <%= f.label :status, "ステータス" %>
                <%= f.select :status, ["予定", "実行中","完了","保留","問題"], class: "form-control"%>
            </div>
            <div class="form-group">
                <%= f.label :person, "担当者" %>
                <%= f.select :person, ["父","母","兄","妹"], class: "form-control" %>
            </div>
            <%= f.submit "投稿", class: "btn btn-primary" %>
        <% end %>
    </div> 
</div>