<%= form_for(task) do |f| %>
    <% if task.errors.any? %>
        <div id="error_explanation">
            <ul>
                <%= task.errors.full_messages.each do |task| %>
                    <li><% task %></li>
                <% end %>
            </ul>
        </div>
    <% end %>    
<%= f.label :content, "タスク" %>:
<%= f.text_field :content %>
<%= f.label :status, "ステータス" %>:
<%= f.select :status, ["予定", "実行中","完了","保留","問題"]%>
<%= f.label :person, "担当者" %>:
<%= f.select :person, ["父","母","兄","妹"] %>
<%= f.submit "投稿" %>
<% end %>